# URL de conexão para banco Postgres. Obrigatório.
DATABASE_URL=

# API_KEY para consulta a API de filmes. Obrigatório.
MOVIE_API_KEY=

# Porta que aplicação será executada. Default: 3000.
PORT=

# Variavél para definir hash utilizada no armazenamento de senhas. Default: 10.
# Deve ser o mesmo valor no serviço de autenticação.
BCRYPT_SALT=

# URL do serviço de autenticação. Default está a URL da rede interna do Docker. 
# Caso opte por executar sem Docker é necessário definir para URL onde o serviço está sendo executado.
URL_AUTH_API=